# Mentorship ETL Challenge

The Challenge:
Collect the data from https://reqres.in/api/products and from the key "data" save in a MySQL table (id,name,year and color).

In [48]:
import mysql.connector as mysql
import pandas as pd
import requests
from requests.exceptions import HTTPError
import sqlalchemy

ModuleNotFoundError: No module named 'sqlalchemy'

Extraction out of ReqresAPI.

In [38]:
try:
    response = requests.get('https://reqres.in/api/products')
    jsonResponse = response.json()
    print(f'Entire JSON response: {jsonResponse}')

except HTTPError as httpError:
    print(f'HTTP Error occored: {httpError}.')
except Exception as err:
    print(f'Other error occored: {err}.')

Entire JSON response: {'page': 1, 'per_page': 6, 'total': 12, 'total_pages': 2, 'data': [{'id': 1, 'name': 'cerulean', 'year': 2000, 'color': '#98B2D1', 'pantone_value': '15-4020'}, {'id': 2, 'name': 'fuchsia rose', 'year': 2001, 'color': '#C74375', 'pantone_value': '17-2031'}, {'id': 3, 'name': 'true red', 'year': 2002, 'color': '#BF1932', 'pantone_value': '19-1664'}, {'id': 4, 'name': 'aqua sky', 'year': 2003, 'color': '#7BC4C4', 'pantone_value': '14-4811'}, {'id': 5, 'name': 'tigerlily', 'year': 2004, 'color': '#E2583E', 'pantone_value': '17-1456'}, {'id': 6, 'name': 'blue turquoise', 'year': 2005, 'color': '#53B0AE', 'pantone_value': '15-5217'}], 'support': {'url': 'https://reqres.in/#support-heading', 'text': 'To keep ReqRes free, contributions towards server costs are appreciated!'}}

Visualizing the result

In [39]:
data = jsonResponse['data']
data

[{'id': 1,
  'name': 'cerulean',
  'year': 2000,
  'color': '#98B2D1',
  'pantone_value': '15-4020'},
 {'id': 2,
  'name': 'fuchsia rose',
  'year': 2001,
  'color': '#C74375',
  'pantone_value': '17-2031'},
 {'id': 3,
  'name': 'true red',
  'year': 2002,
  'color': '#BF1932',
  'pantone_value': '19-1664'},
 {'id': 4,
  'name': 'aqua sky',
  'year': 2003,
  'color': '#7BC4C4',
  'pantone_value': '14-4811'},
 {'id': 5,
  'name': 'tigerlily',
  'year': 2004,
  'color': '#E2583E',
  'pantone_value': '17-1456'},
 {'id': 6,
  'name': 'blue turquoise',
  'year': 2005,
  'color': '#53B0AE',
  'pantone_value': '15-5217'}]

## Transformation Area

Transfering JSON data into a Pandas DataFrame.

In [40]:
df = pd.DataFrame.from_dict(data)
df

   id            name  year    color pantone_value
0   1        cerulean  2000  #98B2D1       15-4020
1   2    fuchsia rose  2001  #C74375       17-2031
2   3        true red  2002  #BF1932       19-1664
3   4        aqua sky  2003  #7BC4C4       14-4811
4   5       tigerlily  2004  #E2583E       17-1456
5   6  blue turquoise  2005  #53B0AE       15-5217

Dropping field pantone_value from the DataFrame

In [41]:
df.get('pantone_value')

0    15-4020
1    17-2031
2    19-1664
3    14-4811
4    17-1456
5    15-5217
Name: pantone_value, dtype: object

In [42]:
df = df.drop(columns = ['pantone_value'])

In [43]:
df

   id            name  year    color
0   1        cerulean  2000  #98B2D1
1   2    fuchsia rose  2001  #C74375
2   3        true red  2002  #BF1932
3   4        aqua sky  2003  #7BC4C4
4   5       tigerlily  2004  #E2583E
5   6  blue turquoise  2005  #53B0AE

## Load to MySQL Database

Connecting with the database

In [44]:
db = mysql.connect(
    host = 'localhost',
    user = 'root',
    password = '*Saltlake5'
)

In [45]:
#creating an instance of cursor
cursor = db.cursor()
#creating a database for this project
cursor.execute('CREATE DATABASE mentroshipchallenge')

Verify if the database was successfully created.

In [47]:
cursor.execute('SHOW DATABASES')
databases = cursor.fetchall()
for database in databases:
    print(database)

('call_center',)
('datacamp',)
('grading_system',)
('information_schema',)
('mentroshipchallenge',)
('mysql',)
('natural_gas',)
('performance_schema',)
('record_store',)
('school_record',)
('sys',)
('titanic',)
('vote',)

In [ ]:
import mysql.connector
import sqlalchemy

database_username = 'root'
database_password = 'mysql'
database_ip       = '127.0.0.1'
database_name     = 'patenting_in_psi'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name), pool_recycle=1, pool_timeout=57600).connect()

df22.to_sql(con=database_connection, name='university_dataset_ca', if_exists='append',chunksize=100)
database_connection.close()